.image {
  height: 250px;
  background-size: cover;
  background-position: center;
}

.article {
  height: 60%;
}

.text {
  height: 300px;
  padding: 20px;
}

article {
  background-color: #FFF;
}

p, h2, a {
  color: #000;
}

.headline {
  margin-bottom: 25px;
}

p {
  font-size: 1.15em;
}

.link {
  display: flex;
  align-items: flex-end;
}

a {
  padding: 15px 0;
  width: 100%;
  background-color: rgb(155, 106, 204);
  text-decoration: none;
}